body {
    background: aliceblue;
    font-family: Georgia;
}
.container {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

canvas {
    box-sizing: border-box;
    background: #ECEFF1;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 3px;
}
.buttons {
    width: 500px;
    height: 125px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.btn{
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ECEFF1;
    text-align: center;
}
.btn:hover{
    background-color: #34ff4c;
    cursor: pointer;
    color: #fff;
}

#newGameBtn{
    float: left;
    width: 150px;
    padding: 13px 0;
}
.controlBtns{
    display: inline-block;
    position: absolute;
    right: 0px;
    border-spacing: 10px 0;
}
.cntrlBtn{
    width: 50px;
    height: 50px;
}
.topCtrlBtn{
    margin-left: 50px;
}
.nonVisible{
    border: 1px solid aliceblue;
    background-color: aliceblue;
}
.nonVisible:hover{
    background-color: aliceblue;
    cursor: default;
}